.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 288px;
  height: 146px;
  padding-bottom: 40px;

  overflow: hidden;

  &--big {
    width: 320px;
    height: 176px;
    padding-top: 44px;
    margin: 0 auto;
  }
}

.article-card__image {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
  top: 0;
  left: 0;
}

.article-card__title {
  margin-top: 0;
  margin-bottom: 17px;

  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;

  @include content-font(16px, normal, 600);
}

.article-card__link {
  padding: 9px 19px;

  border: 1px solid $white;
  background-color: rgba(#000000, 0.3);
  text-align: center;
  color: $white;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;

  @include content-font(10px, normal, 600);

  &:hover,
  &:focus {
    background-color: rgba($white, 0.3);
  }

  &:active {
    border: 1px solid $orange;
  }
}

.article-card--big > .article-card__title {
  margin-bottom: 19px;

  @include content-font(20px, normal, 500);
}

.article-card--big > .article-card__link {
  position: relative;

  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 55px;

  font-size: 12px;
  border: 2px solid $dark-orange;

  &:hover,
  &:focus {
    background-color: $orange;
    border: 2px solid $orange;
  }

  &:active {
    background-color: desaturate($orange, 30%);
    border: 2px solid desaturate($orange, 30%);
  }

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
  }

  &::before {
    right: 33px;
    top: 47%;
    width: 14px;
    height: 2px;

    background-color: $white;
  }

  &::after {
    right: 33px;
    top: 34%;
    width: 10px;
    height: 10px;

    border-right: 2px solid $white;
    border-bottom: 2px solid $white;

    transform: rotate(-45deg);
  }
}

@media (min-width: $pre-desktop-width) {
  .article-card {
    &--big {
      width: 766px;
    }
  }
}

@media (min-width: $desktop-width) {
  .article-card {
    position: relative;
    width: 270px;
    height: 136px;
    padding-bottom: 28px;

    &::before,
    &::after {
      @include pseudo-element-base(100%, 14px);

      left: 0;

      background-color: $white;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }


    &:hover::before,
    &:hover::after,
    &:focus-within::after,
    &:focus-within::before {
      background-color: transparent;
    }

    &--big {
      width: 766px;
      height: 176px;

      &::before,
      &::after {
        display: none;
      }
    }
  }

  .article-card__title,
  .article-card__link {
    opacity: 0;
  }

  .article-card--big > .article-card__title,
  .article-card--big > .article-card__link {
    opacity: 1;
  }

  .article-card:hover > .article-card__title,
  .article-card:hover > .article-card__link,
  .article-card:focus-within > .article-card__title,
  .article-card:focus-within > .article-card__link {
    opacity: 1;
  }

}
