.dot-pagination {
  display: flex;
  justify-content: center;
  padding-left: 14px;
  margin: 0;

  list-style: none;
}

.dot-pagination__item {
  margin-right: 15px;
}

.dot-pagination__button {
  display: block;
  width: 10px;
  height: 10px;

  background-color: rgba($black, 0.3);
  border: none;
  border-radius: 50%;
}

.dot-pagination__input:checked + .dot-pagination__button {
  background-color: rgba($black, 1);
}

.dot-pagination--white > .dot-pagination__button {
  background-color: rgba($white, 0.4);
}

.dot-pagination--white .dot-pagination__input:checked + .dot-pagination__button {
  background-color: rgba($white, 1);
}
