.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-right: 25px;
  padding-left: 20px;

  overflow: hidden;
  list-style: none;
}

.pagination__button-back,
.pagination__button-forward {
  position: relative;

  border: none;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 7px;
    left: -5px;
    width: 0px;
    height: 0px;
    display: block;
    content: "";

    border-bottom: 11px solid rgba(#000000, 0.3);
    border-right: 11px solid transparent;
    border-left: 11px solid transparent;
    border-top: none;
  }
}

.pagination__button-back::before {
  transform: rotate(-90deg);
}

.pagination__button-forward::before {
  transform: rotate(90deg);
}

.pagination__item:not(:last-child) {
  padding-left: 6px;
  margin-right: 17px;
}

.pagination__page-link {
  display: block;
  min-width: 25px;
  height: 25px;
  padding-top: 4px;

  color: $dark-gray;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;

  @include additional-font(18px, 100%, 400);
}

@media (min-width: $pre-desktop-width) {
  .pagination__list {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .pagination__button-back,
  .pagination__button-forward {
    &:after {
      @include pseudo-element-base(2px, 27px);

      top: -1px;

      background-color: rgba($black, 0.3);

    }
  }

  .pagination__button-forward {
    &:after {
      right: 37px;
    }
  }

  .pagination__button-back {
    &:after {
      left: 37px;
    }
  }
}
