.reviews {
  margin-bottom: 57px;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 16px;

  letter-spacing: 2px;
  text-transform: uppercase;

  @include content-font(17px, normal, 700);
}

@media (min-width: $pre-tablet-width) {
  .reviews__title {
    margin-bottom: 30px;
  }
}

@media (min-width: $pre-desktop-width) {
  .reviews__title {
    margin-bottom: 15px;
  }
}
