mixin Pagination(data)
  - const {pagesNumbers} = data;
  div.pagination(class!=attributes.class)
    button.pagination__button-back
    ul.pagination__list
      each pageNumber in pagesNumbers
        li.pagination__item
            a.pagination__page-link(href="#")= pageNumber
    button.pagination__button-forward
