* {
  box-sizing: border-box;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media (min-width: $pre-tablet-width) {
  .container {
    width: 600px;
    padding: 0;
  }
}

@media (min-width: $pre-desktop-width) {
  .container {
    width: 769px;
  }
}
