$white: #ffffff;
$light-gray: #f9f9fc;
$medium-gray: #d7d9df;
$dark-gray: #48494d;
$black: #000000;
$orange: #ff7931;
$dark-orange: #ff9a64;

$base-mobile-width-only: 399px;
$pre-tablet-width: 650px;
$pre-desktop-width: 1024px;
$desktop-width: 1440px;
