mixin NewsList(data)
  - const {cards} = data;
  ul.news-list
    each card in cards
      - const {title, description, imageUrl} = card;
      li.news-list__item
        a.news-list__link
          img.news-list__image(src=imageUrl)
          div.news-list__text-wrapper
            h3.news-list__title= title
            p.news-list__description= description
