mixin SiteNavigation(data)
  -const {names} = data;
  nav.site-navigation(class!=attributes.class)
    ul.site-navigation__list
      each name in names
        li.site-navigation__item
          a.site-navigation__link= name
