
-
  const siteNavigationData = {
    names: ["новости", "обзоры", "музыка", "архитектура", "кино", "театр", "литература", "религия", "живопись"],
  }

-
  const sliderPaginationData = {
    dotsCount: 5,
    inputName: "slider-pagination",
  }

-
  const bigNewsCardData = {
    images: {
      mobile1x: "images/big-news-photo-mobile.jpg",
      mobile2x: "images/big-news-photo-mobile-2x.jpg",
      desktop1x: "images/big-news-photo-desktop.jpg",
      desktop2x: "images/big-news-photo-desktop-2x.jpg",
    },
    title: "Новости культуры России и всего мира",
    preview: "В минувшие выходные в Москве на фестивале «Оберег»\nвручили первую премию Russian World Music Awards",
  }

-
  const newsListData = {
    cards: [
      {
        imageUrl: "images/news-card-image-mobile-1.jpg",
        title: "Открытие нового памятника Евгению Леонову",
        description: "10 сентября в 15:00 был открыт памятник писателю"
      }, {
        imageUrl: "images/news-card-image-mobile-2.jpg",
        title: "Беседы с писателями",
        description: "Русские писатели говорят о важности искусства"
      }, {
        imageUrl: "images/news-card-image-mobile-3.jpg",
        title: "День и ночь св. Патрика: встреча старых друзей",
        description: "Не Джойсом единым живет Ирландия!"
      }
    ],
  }

-
  const reviewsData = [
    {
      images: {
        mobile1x: "images/review-photo-1-mobile.jpg",
        mobile2x: "images/review-photo-1-mobile-2x.jpg",
        desktop1x: "images/review-photo-1-desktop.jpg",
        desktop2x: "images/review-photo-1-desktop-2x.jpg",
      },
      title: "«Шальные годы» Монпарнаса",
      preview: "В Музее изобразительных искусств имени Пушкина с 29 сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»"
    },{
      images: {
        mobile1x: "images/review-photo-2-mobile.jpg",
        mobile2x: "images/review-photo-2-mobile-2x.jpg",
        desktop1x: "images/review-photo-2-desktop.jpg",
        desktop2x: "images/review-photo-2-desktop-2x.jpg",
      },
      title: "Анатомия за 30 секунд",
      preview: "Сейчас, когда мир открыт нараспашку для человека и его познавательных изысканий, интерес к научно-популярной литературе заметно вырос"
    },{
      images: {
        mobile1x: "images/review-photo-3-mobile.jpg",
        mobile2x: "images/review-photo-3-mobile-2x.jpg",
        desktop1x: "images/review-photo-3-desktop.jpg",
        desktop2x: "images/review-photo-3-desktop-2x.jpg",
      },
      title: "Русские балетные сезоны",
      preview: "В Новом Иерусалиме стартовал необычный культурно-развлекательный спектакль, который покажут в новом театре"
    },{
      images: {
        mobile1x: "images/review-photo-4-mobile.jpg",
        mobile2x: "images/review-photo-4-mobile-2x.jpg",
        desktop1x: "images/review-photo-4-desktop.jpg",
        desktop2x: "images/review-photo-4-desktop-2x.jpg",
      },
      title: "Сферические чудаки",
      preview: "Корреспондентам «Культурного обозревателя» посчастливилось побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды»"
    },
  ]

-
  const paginationData = {
    pagesNumbers: ["1", "2", "3", "…", "11"],
  }

-
  const articlesMainCard = {
    images: {
      mobile1x: "images/article-photo-big-mobile.jpg",
      mobile2x: "images/article-photo-big-mobile-2x.jpg",
      desktop1x: "images/article-photo-big-desktop.jpg",
      desktop2x: "images/article-photo-big-desktop-2x.jpg",
    } ,
    title: "ох уж этот балет",
  }

-
  const articleCardsData = [
    {
      images: {
        desktop1x: "images/article-photo-1-desktop.jpg",
        desktop2x: "images/article-photo-1-desktop-2x.jpg",
      },
      title: "как все успевать",
    }, {
      images: {
        desktop1x: "images/article-photo-2-desktop.jpg",
        desktop2x: "images/article-photo-2-desktop-2x.jpg",
      },
      title: "искусство путешевствовать",
    }, {
      images: {
        desktop1x: "images/article-photo-3-desktop.jpg",
        desktop2x: "images/article-photo-3-desktop-2x.jpg",
      },
      title: "чем бы заняться",
    }, {
      images: {
        desktop1x: "images/article-photo-4-desktop.jpg",
        desktop2x: "images/article-photo-4-desktop-2x.jpg",
      },
      title: "красота и опасность",
    },
  ]

-
  const reviewsPaginationData = {
    dotsCount: 5,
    inputName: "review-pagination",
  }

-
  const eventsData = [
    {
      isLight: true,
      title: "воздушные шары",
      images: {
        mobile1x: "images/event-photo-1-mobile.jpg",
        mobile2x: "images/event-photo-1-mobile-2x.jpg",
        desktop1x: "images/event-photo-1-desktop.jpg",
        desktop2x: "images/event-photo-1-desktop-2x.jpg",
      }
    },{
      isLight: false,
      title: "необычная фотосессия",
      images: {
        mobile1x: "images/event-photo-2-mobile.jpg",
        mobile2x: "images/event-photo-2-mobile-2x.jpg",
        desktop1x: "images/event-photo-2-desktop.jpg",
        desktop2x: "images/event-photo-2-desktop-2x.jpg",
      }
    },{
      isLight: false,
      title: "вытсавка птиц",
      images: {
        mobile1x: "images/event-photo-3-mobile.jpg",
        mobile2x: "images/event-photo-3-mobile-2x.jpg",
        desktop1x: "images/event-photo-3-desktop.jpg",
        desktop2x: "images/event-photo-3-desktop-2x.jpg",
      }
    }
  ]
